---
import theses from "../data/theses.json";

const finishedTheses = theses.filter(thesis => thesis.finished === true).sort((thesis) => thesis.year).reverse();
const unfinishedTheses = theses.filter(thesis => thesis.finished === false);

---

<div class="wrapper py-10" id="theses">
    <h2 class="text-4xl text-tudo my-5">Theses</h2>
        <p>We include many students into our research work. Here is a list of current and previous supervised theses.</p>
    <h3 class="text-2xl mt-10 text-tudo mb-5">Current Theses</h3>
    <div class="space-y-4">
    {unfinishedTheses.map((thesis) => (
        <div class="">
            <h3 class="font-semibold">{thesis.title}</h3>
            <p class="text-gray-500">{thesis.type}</p>
        </div>
    ))}
    </div>
    <h3 class="text-2xl text-tudo mt-10 mb-5">Supervised Theses</h3>
    <div class="space-y-4">
    {finishedTheses.map((thesis) => (
        <div class="">
            <h3 class="font-semibold">{thesis.title}</h3>
            <p class="text-gray-500">{thesis.type} - {thesis.year}</p>
        </div>
    ))}
    </div>
</div>