---
import publications from '../data/publications.json';

const publicationsWithIndex = publications.map((pub, index) => ({ ...pub, originalIndex: index }));
const sortedPublicationsDesc = publicationsWithIndex.sort((a, b) => {
    if (a.year !== b.year) {
        return b.year - a.year;
    }
    return b.originalIndex - a.originalIndex;
});

---
<div class="bg-white py-10" id="publications">
    <div class="wrapper">
        <h2 class="text-4xl text-tudo mb-10">Publications</h2>
            <div class="space-y-4">
                {sortedPublicationsDesc.map((publication) => (
                    <div class="text-aqua">
                        <h3 class="text-lg font-bold">{publication.title}</h3>
                        <p>{publication.authors}</p>
                        <p>In: <span class="italic">{publication.in}</span></p>
                        <p class="text-gray-500">{publication.year}</p>
                        {publication.doi && (
                            <p>
                            DOI:
                            <a href={publication.doi} target="_blank" rel="noopener noreferrer" class="text-tudo hover:underline">{publication.doi}</a>
                        </p>
                        )}
                        {publication.comment && (
                            <p class="text-gray-500 italic">{publication.comment}</p>
                        )}
                        {publication.preprintUrl && (
                            <p>
                                Preprint:
                                <a href={publication.preprintUrl} target="_blank" rel="noopener noreferrer" class="text-tudo hover:underline">Download</a>
                            </p>
                        )}
                        {publication.abstract && (
                            <details class="">
                                <summary class="cursor-pointer text-tudo hover:underline">Abstract</summary>
                                <p class="mt-1 text-gray-700 abstract italic">{publication.abstract}</p>
                            </details>
                        )}
                    </div>
                ))}
        </div>
    </div>
</div>