---
import mailIcon from '../assets/icons/mail.svg';
import orcidIcon from '../assets/icons/orcid.svg';
import linkedinIcon from '../assets/icons/linkedin.svg';
import scholarIcon from '../assets/icons/scholar.svg';
import githubIcon from '../assets/icons/github.svg';

const {name, socials, bio, imageUrl} = Astro.props;
---
<div class="bg-white w-100 rounded-lg shadow-md p-6">
    <img src={imageUrl} alt={name} class="w-60 h-60 rounded-full mx-auto object-cover" />
    <h2 class="text-xl font-bold text-center mt-1 text-tudo">{name}</h2>
    <div class="flex flex-row justify-center mt-1 space-x-1">
      {socials.orcid && (
        <a href=`https://orcid.org/${socials.orcid}` target="_blank" rel="noopener noreferrer">
          <img src={orcidIcon.src} alt="Orcid" class="w-5">
        </a>
      )}
      {socials.linkedin && (
        <a href={socials.linkedin} target="_blank" rel="noopener noreferrer">
          <img src={linkedinIcon.src} alt="Linkedin" class="w-5">
        </a>
      )}
      {socials.scholar && (
        <a href={socials.scholar} target="_blank" rel="noopener noreferrer">
          <img src={scholarIcon.src} alt="Google Scholar" class="w-5">
        </a>
      )}
      {socials.github && (
        <a href={socials.github} target="_blank" rel="noopener noreferrer">
          <img src={githubIcon.src} alt="GitHub" class="w-5">
        </a>
      )}
      {socials.mail && (
        <a href=`mailto:${socials.mail}` target="_blank" rel="noopener noreferrer">
          <img src={mailIcon.src} alt="Mail" class="w-5">
        </a>
      )}
    </div>
    <p class="mt-1 text-sm text-aqua text-justify">{bio}</p>
  </div>


  